<html>
    <header>
        <title>FullCycle 3.0 - NodeJs and Nginx challenge </title>
    </header>
    <body>
        <h1>Full Cycle Rocks!</h1>
        List of people fetched from persistence:
        <ul>
            <li>Jeff Bezzos</li>
            <li>Elon Musk</li>
            <li>Bill Gates</li>
            <li>Paulo Lemann</li>
        </ul>
    </body>
</html>